.nav2 li {
  display: inline-block;
  margin-inline: 210px;
  padding: 20px;
}

a {
  color: white;
}

.page1 {
  background-image: url("Page1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
